* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    
    font-family: 'Open Sans', sans-serif;
    
   
}


#main-section {
    display: grid;
  
    grid-template-columns: 4fr .5fr 2fr;
    padding-top: 2rem;
    padding-left: .5rem;
}

header {
    grid-area: nav-header;
    background-color: #43281c;
    height:65px;
   
  
}
#logo{
    padding-top: 1%;
    left: 48%;
    right: 48%;
    position: absolute;
    height: 40px;
}
#header-two {
    background-color: #43281c;
    width: 50%;
   display: inline;
    height: 58px;
}
#name {
  font-size:  1.55rem;
  color: #fbf2c0;
  padding: 0;
  margin: 0;
  padding-top: .80%;
  left: 50%;
  right: 50%;
  position: absolute;
  width: 100%;
}


.menu-left {
    
   width: 900px;
   
   
}

.menu-right {

    width: 900px;
 
  display: flex;
    flex-direction: column;
   
    border-radius: 5px;

    box-shadow: 3px grey;
 
 
    margin-left: 10%;
  
  
  
   
   
}
.menu-sec {
    height: 375px;
    border-radius: 5px;

    background-color: #eee1d5;
    box-shadow: 3px grey;
 
    width: 899px;
    margin-left: 2%;
  
    
}

.quantity {
    font-weight: normal;
   
   
}
.item {
    display: flex;
    gap: 5rem;
    border-bottom: 2px solid #DDB892;
    padding-left: 1.75%;
    padding-top: 2.45%;
    padding-bottom: 2.45%;
   
   
    align-items: flex-start;
 
    justify-content: space-around;
    margin: 0% 1%;
    


}

.item:last-child{
    border-bottom: white;
   
}

#box-title, #name-title, #payment-title {
    color: #885a2d;
    font-size: 1rem;
    font-weight: normal;
    padding-top: 2%;
    padding-left: 2.45%;
    
}
.type {
  font-weight:  bold;

  
}
.extra-info {
   color: #B08968;
   font-size: 0.875rem;
   font-weight: normal;
   
  
}



.info {
    flex-grow: .88;
    display: flex;
    flex-direction: column;
   
   
}

.order-top, .order-bottom {
 
 
 position: relative;

 border-radius: 5px;
 background-color: #eee1d5;
 padding: 1%;

}

.order-top {

    height: 140px;
    background-color: #eee1d5;
    padding: 1%;
}
.order-bottom {
    height: 220px;
}

input {
    margin-top: 10px;
    margin-left: 10px;
border-radius: 10px;
width: 90%;
box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
background-color: #eee1d5;
height: 40px;
border: 2px inset crimson;

}

label {
    position: absolute;
    font-size:11px;
    top: 10;
    margin-left: 2px;
    left: 40px;
    background-color: #eee1d5;
    color:#885a2d;
}
form {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}